.container{
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("Forest.jpg") no-repeat center;
}

.card-wrapper{
    text-decoration: none;
    height: 600px;
    width: 450px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("Forest.jpg") no-repeat center;
    border-radius: 5px;
    overflow: hidden;
    transition: box-shadow 1.5s;
}

*{
    margin: 0;
    padding: 0;
}

.card-wrapper:hover{
    box-shadow: 0 0 50px white;
}

.card-btn{
    text-decoration: none;
    font-size: 50px;
    margin-bottom: 30px;
    animation: animate 3s infinite;
    color: yellow;
    margin-top: 270px;
    margin-left: 320px;
    cursor: grabbing;
    background: transparent;
    border: none;
    position: absolute;
    transform-origin: right;

}

@keyframes animate {
    0% {transform: rotate(0)}
    20% {transform: rotate(0)}
    40% {transform: rotate(-20deg)}
    50% {transform: rotate(0)}
    60% {transform: rotate(-10deg)}
    80% {transform: rotate(0)}
    100% {transform: rotate(0)}
}

.Initial{
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s;
    color: white;
    position: relative;
    text-align: center;
    margin-top: 50%;

}

.Initial h{
    color: white;
    position: absolute;
    display: flex;

}

.Initial h1{
    margin-top: -6%;
    cursor: pointer;
}
.Initial h2{
    margin-top: 23%;
    cursor: pointer;
}

.in{
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s;
    align-items: center;
    position: absolute;
    margin-left: 45%;
    margin-top: 25%;
    cursor: pointer;
}

.card-icon-link{
    text-decoration: none;
    width: 35px;
    height: 35px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

.card-icon-link:hover{
    border: 1px solid dodgerblue;
}

.card-icon{
    font-size: 20px;
    color: white;
    transition: color .3s;
    align-items: center;
    justify-items: center;
}

.card-icon-link:hover .card-icon{
    color: dodgerblue;
}

.x-btn{
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s;
    position: absolute;
    bottom: 2%;
    right: 4%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.full-cv{
    height: 80%;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    overflow: hidden;
    background: rgb(255, 251, 224);
    color: #4e4e4e;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s;

}

.full-cv h1{
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

.Experience-slideshow{
    border: 2px solid black;
    width: 50%;
    height: 30%;
    margin-left: 24%;
    margin-bottom: 5%;
}

.back-btn2{
    transition: opacity 2s;
    position: absolute;
    bottom: 3%;
    right: 2%;
    font-size: 13px;
    font-weight: bold;
    color: dimgrey;
    border: 2px solid #4e4e4e;
    border-radius: 3px;
    cursor: pointer;
    padding: 0.7%;
    background-color: rgba(247, 236, 60, 0.62);
}

.back-btn{
    transition: opacity 2s;
    position: absolute;
    bottom: 2%;
    right: 2%;
    font-size: 13px;
    font-weight: bold;
    color: dimgrey;
    border: 2px solid #4e4e4e;
    border-radius: 3px;
    cursor: pointer;
    padding: 0.7%;
    background-color: rgba(247, 236, 60, 0.62);
}

.short-intro{
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
    border: 2px solid white;
    position: absolute;
    background-color: grey;
    width: 500px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}