

.container{
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0,0,0,0.35)), url("pictures/Forest.jpg") no-repeat center;
    width: 100%;
    height: 100vh;
    /*top: 0;*/
}

body {
    overflow: hidden;
    /*min-height: 100%;*/
}

.card-wrapper{
    /*visibility: hidden;
    overflow: hidden;*/
    text-decoration: none;
    height: 600px;
    width: 450px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("pictures/Forest.jpg") no-repeat center;
    border-radius: 5px;
    transition: box-shadow 1.5s, opacity 2s;
    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;

}

/*html { height: 100%; overflow: hidden }
body { height: 100%; overflow: hidden}*/

.card-wrapper:hover{
    box-shadow: 0 0 70px white;
}

.card-btn{
    text-decoration: none;
    font-size: 50px;
    margin-bottom: 30px;
    animation: animate 3s infinite;
    color: yellow;
    margin-top: 270px;
    margin-left: 320px;
    cursor: grabbing;
    background: transparent;
    border: none;
    position: absolute;
    transform-origin: right;
}

@keyframes animate {
    0% {transform: rotate(0)}
    20% {transform: rotate(0)}
    40% {transform: rotate(-20deg)}
    50% {transform: rotate(0)}
    60% {transform: rotate(-10deg)}
    80% {transform: rotate(0)}
    100% {transform: rotate(0)}
}

.Initial{
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s;
    color: white;
    position: relative;
    text-align: center;
    margin-top: 50%;
}

.Initial h{
    color: white;
    position: absolute;
    display: flex;
}

.Initial h1{
    margin-top: -5%;
    cursor: pointer;
}
.Initial h2{
    margin-top: 21%;
    cursor: pointer;
}

.full-cv-btn{
    transition: color .8s;
}

.full-cv-btn:hover{
    color: yellow;
}

.introduction-btn{
    transition: color .8s;
}

.introduction-btn:hover{
    color: yellow;
}

.short-intro{
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s, box-shadow 1s;
    border-radius: 10px;
    position: absolute;
    background-color: grey;
    width: 800px;
    height: auto;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 40px 40px 80px 40px;
    color: white;
}

.short-intro h1{
    font-size: 20px;
}

.short-intro:hover{
    box-shadow: 0 0 20px white;
}

.short-intro-text{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 180%;
    margin-top: 2%;
}

.short-intro-text2{
    margin-top: 2%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 180%;
}

.back-btn2{
    transition: opacity 2s, color .3s;
    position: absolute;
    bottom: 20px;
    left: 47%;
    font-size: 13px;
    font-weight: bold;
    color: #e9e9e9;
    border-radius: 3px;
    cursor: pointer;
    padding: 1%;
    background-color: #424137;
}

.contact-icons{
     opacity: 0;
     visibility: hidden;
     display: flex;
     align-items: center;
     justify-content: space-around;
     transition: opacity 2s;
     margin-top: 20%;
     margin-left: 37%;
     margin-right: 37%;
 }

.pdf-card{
    margin-top: -2.5%;
    height: 30px;
}

.pdf-card-icon{
    color: white;
    font-size: 32px;
    transition: color .7s;
}

.pdf-card-icon:hover{
    color: rgba(212, 0, 0, 0.69);
}

.card-icon-link{
    text-decoration: none;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: border 0.1s;
    cursor: pointer;
}

.card-icon-link:hover{
    border: 1px solid dodgerblue;
}

.card-icon{
    font-size: 23px;
    color: white;
    transition: color 1s;
    align-items: center;
    justify-items: center;
    top: 3%;
    left: 3%;
}

.card-icon:hover{
    color: dodgerblue;
}

.email{
    color: white;
    font-size: 34px;
    cursor: pointer;
    transition: color 0.8s;
    margin-top: 2%;
}

.email:hover {
    color: #D44638;
}

/*
.email-popup{
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
    border: 2px solid white;
    position: absolute;
    background-color: grey;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}*/

.x-btn{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 2%;
    right: 4%;
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: font-size .4s;
}

.x-btn:hover{
    font-size: 23px;
}

.full-cv{
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: auto;
    background: lightgrey;
    color: #4e4e4e;
    transition: opacity 2s;
    position: absolute;
    padding-bottom: -500px;

}

.header{
    display: flex;
    background-color: #2d2d2d;
    width: 100%;
    height: 175px;
    justify-content: space-between;
}

.logo-name{
    margin-top: 1.5%;
    margin-left: 1%;
    display: flex;
    align-items: center;
    width: 450px;
    height: 110px;
    position: relative;
    justify-content: space-around;
}

.logo{
    width: 23%;
    border:3px solid blueviolet;
    padding: 0.2%;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity .5s, border .6s;
}

.logo:hover {
    border: 3px solid #f7ec3c;
}

.name{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
}

.pdf{
    margin-top: 2.4%;
    display: flex;
    position: relative;
    margin-left: 65%;
    height: 35px;
    cursor: pointer;
    transition: opacity .5s;
}

.pdf-icon{
    color: white;
    font-size: 32px;
    transition: color .7s;
}

.pdf-icon:hover{
    color: rgba(212, 0, 0, 0.69);
}

.download-cv{
    visibility: hidden;
    position: absolute;
    color: white;
    font-size: 15px;
    padding: 15%;
    justify-content: center;
    text-align: center;
    width: 95px;
    margin-top: 40px;
    margin-left: -63px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid white;
    border-radius: 3%;
    transition: opacity .5s, visibility .3s;
}

.pdf:hover .download-cv{
    visibility: visible;
}

.menu{
    margin-top: 1.5%;
    margin-right: 2%;
    font-size: 35px;
    padding: 20px 20px 0 20px;
    cursor: pointer;
    color: white;
    transition: opacity 0.5s, color .4s, visibility .5s;
}

.menu:hover{
    color: #f7ec3c;
}

.menu-position{
    position: relative;
    margin-left: -100px;
    display: block;
}

.sub-menu{
    /*visibility: hidden;*/
    font-size: 15px;
    width: 140px;
    list-style-type: none;
    position: absolute;
    display: none;
    border-radius: 2%;
    padding: 5px;
    margin-top: 3px;
    z-index: 50;
    background-color: black;
    font-weight: bold;
}

.sub-menu a{
    color: white;
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    width: 116px;
}


.menu:hover .sub-menu{
    display: block;
}

.menu-introduction, .menu-experience, .menu-education, .menu-tech, .menu-communication, .menu-language, .menu-contact{
    transition: opacity .1s, background-color .1s;
    scroll-behavior: smooth;

}

.menu-introduction:hover, .menu-experience:hover, .menu-education:hover, .menu-tech:hover, .menu-communication:hover, .menu-language:hover, .menu-contact:hover{
    background-color: #4e4e4e;
    border-radius: 2%;
}

/*
transition: opacity .5s, color .6s;
.name:hover {
color: #f7ec3c;
}*/

/*
.Experience-slideshow{
    padding: 0;
    width: 100%;
}

.slides{
    position: relative;
    display: flex;

}

.slides li{
    margin: 0;
    padding: 0;
    list-style: none;

}

.slides h1{
    color: white;
}


.slides img {
    border: 0;
    width: 100%;
}

.front-slider{
    position: relative;
}
*/

.slideshow-wrapper {
    overflow: hidden;
    position: relative;
}

.slideshow{
    display: flex;
    width: 400%;
    height: 100%;
    position: relative;
}

@keyframes slideshow{
    0% {left: 0}
    20% {left: 0}
    30% {left: -100%}
    55% {left: -100%}
    65% {left: -200%}
    90% {left: -200%}
    99% {left: -300%}
    99.001% {left: 0}
}

.slide{
    width: 100%;
    height: 500px;
}

.slide:nth-child(1){
    background: linear-gradient(90deg, rgba(38,38,38,1), rgba(58, 58, 58, 0.6), transparent), url("pictures/Hungary.jpg") center no-repeat;
    background-size: cover;
}

.slide:nth-child(2){
    background: linear-gradient(90deg, rgba(38,38,38,1), rgba(58, 58, 58, 0.6), transparent), url("pictures/Ireland4.jpg") center no-repeat;
    background-size: cover;
}

.slide:nth-child(3){
    background: linear-gradient(90deg, rgba(38,38,38,1), rgba(58, 58, 58, 0.6), transparent), url("pictures/Argentina3.jpg") center no-repeat;
    background-size: cover;
}

.slide:nth-child(4){
    background: linear-gradient(90deg, rgba(38,38,38,1), rgba(58, 58, 58, 0.6), transparent), url("pictures/Hungary.jpg") center no-repeat;
    background-size: cover;
}

.content{
    width: 400px;
    position: relative;
    top: 2.5%;
    left: 2.5%;
}

.content h3{
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: 500;
    color: white;
}

.promo-content {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.promo-text {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1% 11.5%;
    max-width: 100em;
}

.promo-title {
    display: inline-block;
    padding: .8em 1.5em;
    font-size: 2em;
    background: hsla(0, 0%, 100%, .75);
}

.promo-lede {
    padding: .8em 1.5em .8em 2.5em;
    font-size: 1.8em;
    color: #FFFCED;
    text-shadow: 1px 1px 3px hsla(277, 47%, 40%, .75);
    background: hsla(277, 47%, 66%, .75);
    margin-top: -.5em;
    margin-left: 40%;
    margin-bottom: 3%;
    display: inline-block;
}

.cv-intro{
    width: inherit;
    height: auto;
    display: block;
    background-color: white;
    padding: 4%;
    position: center;
}

.intro-text{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    color: #4e4e4e;
    line-height: 180%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -20px;
}

.intro-text2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    color: #4e4e4e;
    line-height: 180%;
    margin-top:25px;
    margin-left: 20%;
    margin-right: 20%;
}

.experience{
    height: auto;
    background: linear-gradient( to right, #4e4e4e, rgba(78, 54, 103, 0.62), #4e4e4e);
}

.exp-title{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    letter-spacing: 15px;
    font-weight: lighter;
    color: white;
    padding: 65px;
}

.jobs{
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px;
    align-items: center;
    font-size: 20px;
    background-color: white;
    margin: 0 auto;
}

.jobs h4{
    width: 170px;
    font-size: 18px;
    color: #636363;
    font-weight: lighter;
    margin-top: 5px;
    text-decoration: none;
}


.blk, .vf, .ice, .abbott, .nuskin {
    display: block;
    cursor: pointer;
    transition: opacity .3s,  border .4s, box-shadow .5s;
    flex-shrink: 0;
    text-decoration: none;
    border: solid #eeeeee;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.blk:hover, .vf:hover, .ice:hover, .abbott:hover, .nuskin:hover{
    border: 3px solid #f7ec3c;
    box-shadow: 0 0 15px #908d78;
}

.blk{
    padding: 40px 41px 40px 41px;
}

.ice{
    padding: 43px;
}

.abbott{
    padding: 42.5px 43px 42.5px 43px;
}

.vf{
    padding: 40px 37px 40px 39px;
}

.nuskin{
    padding: 38.5px 45.5px 39.5px 45.5px;
}

.blk img{
    width: 180px;
    height: 68px;
    margin-top: 15%;
    margin-bottom: 12%;
    flex-shrink: 0;
}

.blk h4{
    margin-bottom: 5%;
}

.blk a{
    text-decoration: none;
}

.vf img{
    width: 185px;
    height: 100px;
    margin-top: 3%;
    margin-bottom: 8%;
    flex-shrink: 0;
}

.vf h4{
    margin-bottom: 2%;
}

.ice img{
    width: 175px;
    height: 100px;
    margin-top: 1%;
    margin-bottom: 9%;
    flex-shrink: 0;
}

.abbott img{
    width: 155px;
    height: 120px;
    flex-shrink: 0;
}

.nuskin img{
    width: 130px;
    height: 90px;
    margin-top: 8%;
    margin-bottom: 13%;
    flex-shrink: 0;
}

/*
.details{
    border: transparent;
    padding: .5px;
    width: 85px;
    margin-left: -5px;
    margin-top: 8px;
    text-align: center;
    cursor: pointer;
    transition:opacity .3s,  border .4s, box-shadow .5s;
}

.details:hover{
    border: 3px solid #f7ec3c;
    box-shadow: 0 0 10px #908d78;
}*/

ul{
    margin-top: 3px;
    padding: 2.5%;
    line-height: 170%;
}

.blk-background, .vf-background, .ice-background, .abbott-background, .nuskin-background{
    opacity: 0;
    visibility: hidden;
    height: 100vh;
    width: 3000px;
    background: rgba(128, 128, 128, 0.47);
    background-size: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 40;
}

.blk-details,.vf-details, .ice-details, .abbott-details, .nuskin-details {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
    border-radius: 1%;
    position: fixed;
    background-color: white;
    text-align: left;
    line-height: 160%;
    font-size: 16px;
    color: #525252;
    font-family: 'Roboto', sans-serif;
    width: 800px;
    height: 650px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 60px #424137;
    padding: 1.5%;
    z-index: 50;
}


.vf-details{
    height: 480px;
}

.ice-details{
    height: 340px;
}

.abbott-details{
    height: 510px;
}

.nuskin-details{
    height: 570px;
}

.blk-details h1, .vf-details h1, .ice-details h1, .abbott-details h1, .nuskin-details h1{
    font-size: 19px;
    letter-spacing: 3px;
    line-height: 180%;
}

li{
    padding: 6px;
    color: #2e2e2e;
}


/*
.blk-details{
    top: 73%;
    left: 20%;
    transform: translate(-50%, 0);
}

.vf-details{
    top: 73%;
    left: 30%;
    transform: translate(-50%, 0);
}

.ice-details{
    top: 73%;
    left: 40%;
    transform: translate(-50%, 0);
}

.abbott-details{
    top: 73%;
    left: 60%;
    transform: translate(-50%, 0);
}

.nuskin-details{
    top: 73%;
    left: 75%;
    transform: translate(-50%, 0);
}*/

.education{
    height: auto;
    display: block;
    background-color: #acacac;
    text-align: center;
    padding: 0 0 40px 0;
    color: #4e4e4e;
}

.education h1{
    width: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    letter-spacing: 15px;
    color: white;
    background: linear-gradient( to right, #4e4e4e, rgba(43, 30, 57, 0.62), #4e4e4e);
    padding: 65px;
    margin-top: 0;
}

.education ul{
    line-height: 180%;
    margin-top: 30px;
    padding: 20px;
}
.education li{
    margin-top: 2px;
    color: white;
    font-size: 20px;
    list-style-type: none;
}

.tech{
    text-align: center;
    padding: 0 0 40px 0;
    background-color: white;
}

.tech h1{
    width: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    letter-spacing: 10px;
    top: 0;
    padding: 65px;
    background: linear-gradient( to right, #4e4e4e, rgba(28, 10, 29, 0.62), #4e4e4e);
    color: white;
}

.tech li{
    list-style-type: none;
    margin-top: 5px;
    font-size: 20px;
}

.communication{
    padding: 50px;
    background: rgba(136, 99, 159, 0.58);
    width: auto;
    height: auto;
    position: relative;
}

.comm-text {
    position: absolute;
    text-align: center;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.comm-pics{
    display: flex;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
}

.pic-left{
    opacity: .2;
    flex-shrink: 0;
    padding: 0;
    position: relative;
}

.pic-right{
    opacity: .2;
    flex-shrink: 0;
    padding: 0;
    position: relative;
}

.communication h1{
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    letter-spacing: 10px;
    color: white;
    margin-top: 10px;
    background: radial-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.01), transparent);
    padding: 0;
    width: 750px;
}

.communication li{
    list-style-type: none;
    margin-top: 5px;
    font-size: 22px;
    color: white;
}

.language{
    height: auto;
    text-align: center;
    padding: 70px;
    background-color: white;

}

.language h1{
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    letter-spacing: 10px;
    padding: 0;
}

.language ul{
    margin-top: 0;
}

.language li{
    list-style-type: none;
    line-height: 160%;
    font-size: 20px;
}

.contact{
    height: 400px;
    background-color: #acacac;
    padding: 50px 0 50px 0;
    justify-content: center;
    margin: auto;
    position: relative;
}

.contact-orientation{
    width: 390px;
display: inline-block;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
position: absolute;
}

.contact h1{
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    letter-spacing: 10px;
    text-align: center;

}

.contact-info{
    margin-top: 30px;
}

.phone, .e-mail, .current-loc, .permit{
    list-style-type: none;
    margin-top: 25px;
    font-size: 20px;
}

.swiss-number{
    text-align: right;
    list-style-type: none;
    font-size: 20px;
    margin-top: 0;
    margin-right: 13px;
}


.bottom-map{
    height: 300px;
    display: block;
    background-color: black;
    color: white;
    padding: 20px;
}

.map-main{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    line-height: 250%;
    text-align: left;

}

.map-introduction, .map-experience, .map-education, .map-tech, .map-communication, .map-language, .map-contact{
    color: white;
    display: block;
    text-decoration: none;
    transition: color .3s;
}

.map-introduction:hover, .map-experience:hover, .map-education:hover, .map-tech:hover, .map-communication:hover, .map-language:hover, .map-contact:hover{
    color: #f7ec3c;
}

.map-socialmedia{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    margin-left: 40%;
    margin-right: 40%;
}

#email-map{
    margin-top: -4px;
}

.card-icon-link2{
    text-decoration: none;
    width: 38px;
    height: 38px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: border 0.1s;
    cursor: pointer;
}

.card-icon-link2:hover{
    border: 1px solid dodgerblue;
}

.card-icon2{
    font-size: 30px;
    color: white;
    transition: color 1s;
    align-items: center;
    justify-items: center;
    top: 3.2%;
    left: 3.2%;
}

.card-icon2:hover{
    color: dodgerblue;
}

.email2{
    color: white;
    font-size: 43px;
    cursor: pointer;
    transition: color 0.8s;
    margin-top: 2%;
}

.email2:hover {
    color: #D44638;
}

.pdf-icon2{
    color: white;
    font-size: 38px;
    transition: color .7s;
}

.pdf-icon2:hover{
    color: rgba(212, 0, 0, 0.69);
}

.back-btn3 , .back-btn4, .back-btn5 , .back-btn6, .back-btn7, .back-btn8{
    transition: opacity 2s, color 0.3s;
    position: absolute;
    bottom: 5%;
    left: 47%;
    font-size: 13px;
    font-weight: bold;
    color: #e9e9e9;
    border: 2px solid #4e4e4e;
    border-radius: 3px;
    cursor: pointer;
    padding: 0.7%;
    background-color: black;
}

.back-btn{
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 2%;
    right: 2%;
    text-align: center;
    justify-content: center;
    font-size: 250%;
    font-weight: bold;
    color: blueviolet;
    /*width: 0.8%;
    border: 2px solid blueviolet;
    border-radius: 50%;
    padding: 0.2%;
    background-color: dimgrey;*/
    cursor: pointer;
    transition: color 0.3s;
}

.arrow-up{
    text-align: center;
    justify-content: center;
}

.back-btn:hover, .back-btn2:hover, .back-btn3:hover, .back-btn4:hover, .back-btn5:hover, .back-btn6:hover, .back-btn7:hover, .back-btn8:hover{
    color: #f7ec3c;
}

/*RESPONSIVE WEB*/

@media only screen and (max-width: 2105px){

    .intro-text{
        margin-left: 18%;
        margin-right: 18%;
    }

    .intro-text2{
        margin-left: 18%;
        margin-right: 18%;
    }
}

@media only screen and (max-width: 2070px){


    .intro-text{
        margin-left: 15%;
        margin-right: 15%;
    }

    .intro-text2{
        margin-left: 15%;
        margin-right: 15%;
    }

    .pdf{
        margin-top: 2.6%;
    }
}

@media only screen and (max-width: 1805px){
    .intro-text{
        margin-left: 10%;
        margin-right: 10%;
    }

    .intro-text2{
        margin-left: 10%;
        margin-right: 10%;
    }

    .pdf{
        margin-top: 2.8%;
        margin-left: 55%;
    }

    .intro-text{
        margin-top: 0;
    }
}

@media only screen and (max-width: 1580px){
    .intro-text{
        margin-left: 5%;
        margin-right: 5%;
    }

    .intro-text2{
        margin-left: 5%;
        margin-right: 5%;
    }

    .logo-name {
        margin-top: 2%;
        margin-left: 2%;
    }

    .pdf{
        margin-top: 4.5%;
        margin-left: 50%;
    }

    .menu {
        margin-top: 3%;
        margin-right: 2.3%;
    }

    .sub-menu{
        margin-top: 10px;
    }

    .blk-details,.vf-details, .ice-details, .abbott-details, .nuskin-details {
        font-size: 15px;
        width: 900px;
        height: 580px;
        padding: 1.5% 1% 1% 1.5%;
    }

    .vf-details{
        height: 470px;
    }

    .ice-details{
        height: 340px;
    }

    .abbott-details{
        height: 480px;
    }

    .nuskin-details{
        height: 520px;
    }

    .blk-details h1, .vf-details h1, .ice-details h1, .abbott-details h1, .nuskin-details h1{
        font-size: 17px;
    }

    .comm-pics{
        justify-content: center;
    }

    .intro-text{
        margin-top: 15px;
    }

    .language ul{
        margin-top: -5px;
    }
}

/*Small laptops and tablet size*/
@media only screen and (max-width: 1410px) {

    .short-intro {
        top: 48%;
    }

    .cv-intro {
        padding: 6% 2% 6% 2%;
    }

    .intro-text {
        font-size: 19px;
        margin-top: 0;
    }

    .intro-text2 {
        font-size: 19px;
    }

    .comm-pics{
        transform: scale(0.9)
    }

    .blk, .vf, .ice, .abbott, .nuskin {
        transform: scale(1.1);
        padding: 60px;
        margin: 30px;
    }

    .nuskin{
        padding: 58px 69px 58px 69px;
    }

    .ice{
        padding: 63px 64px 62px 64px;
    }

    .abbott{
        padding: 62px 68px 62px 68px;
    }

    .jobs{
        padding: 15px;
    }

    .card-icon-link:hover{
        border: 1px solid white;
    }

    .card-icon:hover{
        color: white;
    }

    .pdf-icon:hover, .email:hover{
        color: white;
    }

    .menu:hover{
        color: white;
    }

    .menu:hover .sub-menu{
        display: none;
    }

    .back-btn:hover, .back-btn2:hover, .back-btn3:hover, .back-btn4:hover, .back-btn5:hover, .back-btn6:hover, .back-btn7:hover, .back-btn8:hover{
        color: revert;
    }

    .back-btn:hover{
        color: blueviolet;
    }

    .pdf-icon2:hover{
        color: white;
    }

    .card-icon-link2:hover{
        border: solid white;
    }

    .card-icon2:hover{
        color: white;
    }

    .email2:hover {
        color: white;
    }

}

@media only screen and (max-width: 1270px) {

    .pdf{
        margin-top: 4.7%;
        margin-left: 42%;
    }

    .cv-intro {
        padding: 6% 2% 6% 2%;
    }

    .intro-text{
        line-height: 200%;
        margin-top: 0;
    }

    .intro-text2{
        line-height: 200%;
    }

    .comm-pics{
        transform: scale(0.8)
    }

    .communication {
        padding: 60px;
    }

    .language ul{
        margin-top: 10px;
    }
}

@media only screen and (max-width: 1215px) {

    .cv-intro{
        padding: 7% 0 7% 0;
    }
}

@media only screen and (max-width: 1170px) {

    .pdf{
        margin-top: 5%;
        margin-left: 38%;
    }

    .cv-intro {
        padding: 8% 0 8% 0;
    }

    .intro-text{
        margin-left: 13%;
        margin-right: 13%;
    }

    .intro-text2{
        margin-left: 16%;
        margin-right: 16%;
        margin-top: 3%;
    }
}

@media only screen and (max-width: 1140px){

    .promo-content {
        top: -20px;
    }

    .promo-text {
        padding: 1% 5%;
        max-width: 150em;
    }

    .promo-title {
        padding: .8em 1em;
        font-size: 1.7em;
        margin-left: 20%;
    }

    .promo-lede {
        padding: .8em 1em .8em 2em;
        font-size: 1.7em;
        margin-left: 40%;
        margin-bottom: 3%;
    }

       .comm-pics{
           transform: scale(0.75)
       }

       .jobs h4{
           width: auto;
           font-size: 20px;
           margin-top: 3px;
       }
}

@media only screen and (max-width: 1040px){

       .comm-pics{
           transform: scale(0.7)
       }

   }

   /*RESPONSIVE MOBILE*/
@media only screen and (max-width: 1000px) {

    .logo-name{
        margin-top: 3%;
        margin-left: 3%;
        width: 450px;
        position: absolute;
    }

    .pdf{
        margin-top: 6.8%;
        margin-left: 82%;
    }

    .menu{
        margin-top: 4.5%;
    }

    .promo-title {
        padding: .8em 1em;
        font-size: 1.5em;
        margin-left: 18%;
    }

    .promo-lede {
        padding: .8em 1em .8em 2em;
        font-size: 1.5em;
        margin-left: 40%;
        margin-bottom: 3%;
    }

    .short-intro {
        width: 85%;
        top: 48%;
    }

    .blk-details,.vf-details, .ice-details, .abbott-details, .nuskin-details {
        width: 600px;
        height: 680px;
        line-height: 100%;
    }

    .vf-details{
        height: 480px;
    }

    .ice-details{
        height: 350px;
    }

    .abbott-details{
        height: 520px;
    }

    .nuskin-details{
        height: 580px;
    }

    .comm-pics {
        transform: scale(0.6)
    }

    .exp-title {
        font-size: 25px;
    }
    .education h1, .tech h1, .communication h1, .language h1, .contact h1 {
        font-size: 45px;
    }

    .tech{
        padding: 0 0 55px 0;
        margin: 0;
    }

    .tech h1{
        padding: 65px 0 65px 0;
        margin: 0;
    }

    .tech ul{
        margin-top: 30px;
    }

    .language ul{
        margin-top: 15px;
    }

    }

@media only screen and (max-width: 900px) {

    .logo-name{
        margin-top: 3.5%;
        margin-left: 2.5%;
        width: 400px;
    }

    .logo{
        width: 24%;
        padding: 0.5%;
        border-radius: 50%;
    }

    .name{
        font-size: 26px;
    }

    .pdf{
        margin-top: 7.7%;
        margin-left: 80%;
        height: 35px;
    }

    .pdf:hover .download-cv{
        visibility: hidden;
    }

    .menu{
        margin-top: 5%;
        margin-right: 3%;
        font-size: 35px;
        padding: 20px 20px 0 20px;
    }

    .menu-position{
        position: relative;
        margin-left: -100px;
        display: block;
    }

    .sub-menu{
        margin-top: 5px;
    }

    .content h3{
        font-size: 40px;
    }

    .slide{
        height: 400px;
    }

    /* .sub-menu{
        font-size: 15px;
        width: 140px;
        list-style-type: none;
        position: absolute;
        display: none;
        border-radius: 2%;
        padding: 5px;
        margin-top: 3px;
        z-index: 50;
        background-color: black;
        font-weight: bold;
    }

    .sub-menu a{
        color: white;
        display: inline-block;
        padding: 12px;
        text-decoration: none;
        width: 116px;
    }*/

    .short-intro {
        top: 46%;
    }

    .intro-text {
        font-size: 16px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .intro-text2 {
        font-size: 16px;
        margin-left: 11%;
        margin-right: 11%;
        margin-top: 4%;
    }

    .jobs h4{
        font-size: 17px;
    }

    .blk{
        padding: 40px 42.5px 40px 42.5px;
        transform: scale(0.95);
    }

    .vf{
        padding: 40px 41px 40px 40px;
        transform: scale(0.95);
    }

    .ice{
        padding: 44px 45px 44px 45px;
        transform: scale(0.95);
    }

    .abbott{
        padding: 43px 58px 43px 58px;
        transform: scale(0.95);
    }

    .nuskin{
        padding: 40px 63px 41px 63px;
        transform: scale(0.95);
    }

    .tech h1 {
        padding: 65px 30px 65px 30px;
    }

    .comm-pics {
        transform: scale(0.5);
    }

    .communication h1{
        width: 650px;
    }

}

@media only screen and (max-width: 720px) {

    .logo-name{
        margin-top: 5%;
        margin-left: 2.5%;
        width: 350px;
    }

    .logo{
        width: 23%;
    }

    .name{
        font-size: 23px;
    }

    .pdf{
        margin-top: 10.2%;
        margin-left: 80%;
    }

    .menu{
        margin-top: 7%;
        margin-right: 2%;
        font-size: 35px;
        padding: 20px 20px 0 20px;
    }

    .sub-menu{
        margin-top: 10px;
    }

    .promo-content {
        top: -40px;
    }

    .promo-title {
        padding: .8em 1em;
        font-size: 1.3em;
        margin-left: 8%;
    }

    .promo-lede {
        padding: .8em 1em .8em 2em;
        font-size: 1.3em;
        margin-left: 30%;
        margin-bottom: 3%;
    }

    .comm-pics {
        transform: scale(0.4);
    }

    .short-intro {
        width: 80%;
        top: 50%;
        padding: 50px 40px 90px 40px;
    }

    .short-intro h1 {
        font-size: 20px;
    }

    .short-intro-text, .short-intro-text2{
        font-size: 14px;
        margin-top: 4%;
        line-height: 150%;
    }

    .back-btn2 {
        font-size: 15px;
        left: 44%;
    }

    .cv-intro {
        padding: 12% 0 12% 0;
    }

    .intro-text {
        font-size: 15px;
        margin-left: 8%;
        margin-right: 8%;
        line-height: 160%;
    }

    .intro-text2 {
        font-size: 15px;
        margin-left: 6%;
        margin-right: 6%;
        margin-top: 5%;
        line-height: 160%;
    }

    .exp-title {
        font-size: 21px;
    }

    .blk-details,.vf-details, .ice-details, .abbott-details, .nuskin-details {
        font-size: 13px;
        width: 450px;
        height: 650px;
        padding: 1% .5% .5% 1%;
        line-height: 100%;
        letter-spacing: 0;
    }

    .vf-details{
        height: 450px;
    }

    .ice-details{
        height: 300px;
    }

    .abbott-details{
        height: 500px;
    }

    .nuskin-details{
        height: 590px;
    }

    .blk-details h1, .vf-details h1, .ice-details h1, .abbott-details h1, .nuskin-details h1{
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 160%;
    }

    .education h1, .tech h1, .communication h1, .language h1, .contact h1 {
        font-size: 41px;
    }

    .communication h1{
        width: 530px;
    }

    .exp-title, .education h1 {
        letter-spacing: 9px;
    }
    .tech h1, .communication h1, .language h1, .contact h1 {
        letter-spacing: 6px;
    }

}

@media only screen and (max-width: 630px){

    .cv-intro {
        padding: 12% 0 12% 0;
    }

    .intro-text {
        margin-left: 10%;
        margin-right: 10%;
    }

    .intro-text2 {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 6%;
    }

}

@media only screen and (max-width: 550px) {

    .card-btn {
        font-size: 50px;
        margin-top: 220px;
        margin-left: 250px;
    }

    .card-wrapper{
        height: 500px;
        width: 350px;
    }

    .Initial {
        margin-top: 43%;
    }

    .contact-icons{
        margin-top: 25%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .logo-name{
        margin-top: 6%;
        margin-left: 2.5%;
        width: 290px;
    }

    .logo{
        width: 23%;
    }

    .name{
        font-size: 19px;
    }

    .pdf{
        margin-top: 12.4%;
        margin-left: 78%;
    }

    .menu{
        margin-top: 8.5%;
        margin-right: 1%;
        font-size: 35px;
        padding: 20px 20px 0 20px;
    }

    .promo-content {
        top: -50px;
    }

    .promo-title {
        padding: .8em 1em;
        font-size: 1em;
        margin-left: 7%;
    }

    .promo-lede {
        padding: .8em 1em .8em 2em;
        font-size: 1em;
        margin-left: 28%;
        margin-bottom: 3%;
    }

    .short-intro h1{
        margin-bottom: 20px;
    }

    .short-intro-text, .short-intro-text2 {
        margin-top: 6%;
    }

    .cv-intro {
        padding: 15% 0 15% 0;
    }

    .intro-text {
        margin-left: 5%;
        margin-right: 5%;
    }

    .intro-text2 {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 8%;
    }

    .exp-title{
        font-size: 17px;
    }

    .blk-details,.vf-details, .ice-details, .abbott-details, .nuskin-details {
        font-size: 10px;
        width: 350px;
        height: 500px;
        padding: .5% 0 .5% .5%;
    }

    .vf-details{
        height: 370px;
    }

    .ice-details{
        height: 200px;
    }

    .abbott-details{
        height: 350px;
    }

    .nuskin-details{
        height: 300px;
    }

    .blk-details h1, .vf-details h1, .ice-details h1, .abbott-details h1, .nuskin-details h1 {
        font-size: 12px;
    }

    .back-btn3 , .back-btn4, .back-btn5 , .back-btn6, .back-btn7, .back-btn8{
        bottom: 5%;
        left: 47%;
        font-size: 10px;
        font-weight: bold;
        color: #e9e9e9;
        border: 2px solid #4e4e4e;
        border-radius: 3px;
        cursor: pointer;
        padding: 0.7%;
        background-color: black;
    }

    .education h1 {
        font-size: 32px;
    }

    .education ul{
        padding: 15px;
    }

    .education h2{
        font-size: 20px;
    }
    .education li{
        font-size: 18px;
    }

    .tech h1 {
        font-size: 32px;
    }

    .tech li{
        font-size: 18px;
    }

    .comm-pics {
        flex-wrap: wrap;
        align-items: center;
        transform: scale(0.6);
    }

    .communication {
        padding: 0 0 55% 0;
        height: 500px;
    }

    .communication h1 {
        font-size: 32px;
        width: 440px;
        margin-bottom: 50px;
    }

    .comm-text{
        top: 46%;
    }

    .communication li{
        font-size: 19px;
    }

    .communication ul{
        padding: 10px 30px 10px 30px;
    }

    .language{
        padding: 70px 20px 70px 20px;
    }

    .language h1{
        font-size: 32px;
        padding: 0;
        margin: 0;
    }

    .language li{
        font-size: 18px;
    }

    .language ul{
        margin-top: 25px;
    }

.contact-orientation{
    width: 350px;
}

    .contact h1{
        font-size: 32px;
    }

    .phone, .e-mail, .current-loc, .permit{
        margin-top: 20px;
        font-size: 18px;
    }

    .swiss-number{
        font-size: 18px;
        margin-top: 0;
        margin-right: 10px;
    }

    .map-main{
        display: flex;
        margin-top: 30px;
        justify-content: space-between;
        line-height: 250%;
    }

    .map-introduction, .map-experience, .map-education, .map-tech, .map-communication, .map-language, .map-contact{
        font-size: 13px;
    }

    .map-socialmedia{
        margin-top: 70px;
        margin-left: 15%;
        margin-right: 15%;
    }

}

@media only screen and (max-width: 465px){

    .pdf{
        margin-top: 13%;
    }

    .intro-text {
        margin-left: 8%;
        margin-right: 8%;
    }

    .intro-text2 {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 8%;
    }

    .communication {
        padding: 0 20px 60% 20px;
        height: 500px;
    }


    .communication h1 {
        width: 420px;
    }
}

@media only screen and (max-width: 440px){

    .card-btn {
        font-size: 50px;
        margin-top: 165px;
        margin-left: 180px;
    }

    .card-wrapper{
        height: 400px;
        width: 275px;
    }

    .header{
        height: 140px;
    }

    .logo-name{
        margin-top: 4%;
        margin-left: 1.5%;
        width: 215px;
    }

    .logo{
        width: 23%;
    }

    .name{
        font-size: 18px;
        letter-spacing: -0.3px;
    }

    .pdf{
        margin-top: 13%;
        margin-left: 80%;
    }

    .pdf-icon{
        font-size: 28px;
    }

    .menu{
        margin-top: 8%;
        margin-right: 0;
        font-size: 30px;
        padding: 20px 15px 0 20px;
    }

    .sub-menu{
        margin-top: 15px;
    }

    .menu-position{
        margin-left: -110px;
    }

    .full-cv-btn{
        font-size: 27px;
    }

    .introduction-btn{
        font-size: 22px;
    }

     .intro-text {
        margin-left: 10%;
        margin-right: 10%;
     }

     .intro-text2 {
        margin-left: 12%;
        margin-right: 12%;
        margin-top: 8%;
     }

    .content{
        width: 200px;
        top: 8%;
        left: 8%;
    }

    .content h3{
        font-size: 30px;
        font-weight: 500;
    }

    .slide{
        height: 300px;
    }

    .promo-content {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 100%;
        width: 100%;
        top: -25px;
        left: 0;
    }
    .promo-text {
        box-sizing: border-box;
        margin: 0 auto;
        padding: 1% 5%;
        max-width: 150em;
    }

    .promo-title {
        display: inline-block;
        padding: .8em 1em;
        font-size: .9em;
        background: hsla(0, 0%, 100%, .75);
        margin-left: 15px;
    }

    .promo-lede {
        padding: .8em 1.5em .8em 1em;
        font-size: .9em;
        color: #FFFCED;
        text-shadow: 1px 1px 3px hsla(277, 47%, 40%, .75);
        background: hsla(277, 47%, 66%, .75);
        margin-top: -.5em;
        margin-left: 30%;
        margin-bottom: 3%;
        display: inline-block;
    }

    .exp-title{
        font-size: 12px;
        padding: 65px 20px 65px 20px;
    }

    .jobs{
        padding: 35px 5px 35px 5px;
    }

    .blk, .vf, .ice, .abbott, .nuskin {
        margin: 5px;
        margin-top: 15px;
        margin-bottom: 15px;
    }


    .blk-background, .vf-background, .ice-background, .abbott-background, .nuskin-background{
        height: 130vh;
    }

    .education h1 {
        font-size: 25px;
        padding: 65px 20px 65px 20px;
    }

    .tech h1 {
        font-size: 25px;
        padding: 65px 20px 65px 20px;
    }

    .communication {
        padding: 0 0 80% 0;
        height: 450px;
    }

    .comm-pics {
        transform: scale(0.5);
    }

    .communication h1 {
        font-size: 25px;
        padding: 30px 0 20px 0;
        width: 360px;
    }

    .communication ul{
        padding: 10px 10px 10px 10px;
    }

    .language h1{
        font-size: 25px;
    }
    .contact h1{
        font-size: 25px;

    }
}

@media only screen and (max-width: 400px) {

    .pdf{
        margin-top: 13.5%;
        margin-left: 77%;
    }

    .short-intro {
        width: 90%;
        top: 50%;
        padding: 30px 5px 70px 5px;
    }

    .intro-text {
        margin-left: 8%;
        margin-right: 8%;
    }

    .intro-text2 {
        margin-left: 8%;
        margin-right: 8%;
    }

    .communication h1 {
        width: 320px;
    }

    .communication ul{
        padding: 10px 0 10px 0;
    }
}

@media only screen and (max-width: 355px) {

    .card-wrapper{
        height: 380px;
        width: 250px;
    }
    .card-btn {
        font-size: 45px;
        margin-top: 155px;
        margin-left: 170px;
    }

    .contact-icons{
        margin-top: 20%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .logo-name{
        margin-top: 5%;
        margin-left: 1%;
        width: 195px;
    }

    .logo{
        width: 23%;
    }

    .name{
        font-size: 17px;
        letter-spacing: -0.7px;
    }

    .pdf{
        margin-top: 16.8%;
        margin-left: 76%;
    }

    .pdf-icon{
        font-size: 26px;
    }

    .menu{
        margin-top: 10.5%;
        margin-right: 3%;
        font-size: 28px;
        padding: 20px 15px 0 20px;
    }

    .menu-position{
        margin-left: -120px;
    }

    .intro-text {
        margin-left: 5%;
        margin-right: 5%;
    }

    .intro-text2 {
        margin-left: 5%;
        margin-right: 5%;
    }

    .short-intro {
        width: 90%;
        top: 50%;
        padding: 30px 5px 65px 5px;
    }
    .short-intro-text, .short-intro-text2{
        font-size: 13px;
    }


    /*   .blk, .vf, .ice, .abbott, .nuskin {
           transform: scale(1.1);
           padding: 20px;
           margin: 20px;
       }

       .nuskin{
           padding: 18px 29px 18px 29px;
       }

       .ice{
           padding: 23px 24px 22px 24px;
       }

       .abbott{
           padding: 22px 28px 22px 28px;
       }

       .blk{
           padding: 22px 22px 22px 22px;
       }*/

    .jobs li{
        line-height: 130%;
    }
    .blk-details,.vf-details, .ice-details, .abbott-details, .nuskin-details {
        font-size: 10px;
        width: 300px;
        height: 500px;
        padding: .5% 0 .5% .5%;
    }

    .blk-details h1, .vf-details h1, .ice-details h1, .abbott-details h1, .nuskin-details h1 {
        font-size: 11px;
        line-height: 150%;
    }

    .vf-details{
        height: 370px;
    }

    .ice-details{
        height: 200px;
    }

    .abbott-details{
        height: 350px;
    }

    .nuskin-details{
        height: 300px;
    }

    .education h2{
        font-size: 18px;
    }
    .education li, .tech li, .language li, .phone, .e-mail, .current-loc, .permit{
        font-size: 16px;
    }

    .communication {
        padding: 0 0 80% 0;
        height: 600px;
    }

    .communication li{
        font-size: 17px;
    }

    .comm-pics {
        transform: scale(0.4);
    }

    .communication h1 {
        padding: 30px 0 20px 0;
        width: 250px;
    }

    .exp-title, .education h1 {
        letter-spacing: 8px;
    }
    .tech h1, .communication h1, .language h1, .contact h1 {
        letter-spacing: 5px;
    }

    .contact {
        height: 300px;
    }

    .contact-orientation{
        width: 265px;
    }

    .phone, .e-mail, .current-loc, .permit{
        margin-top: 10px;
        font-size: 14px;
        padding: 0;
    }

    .swiss-number{
        font-size: 14px;
        margin-top: 0;
        margin-right: 10px;
        padding: 0;
    }

}

/*.comm-pics {
    transform: scale(0.6)
}

.communication {
    padding: 0 5px 0 5px;
    height: auto;

}

.pic-left{
    border: solid lawngreen;
    align-content: center;
}

.pic-right{
    border: solid lawngreen;
    justify-content: center;
}*/




    /* .card-wrapper{
         height: 950px;
         width: 650px;
     }


     .card-btn {
         font-size: 100px;
         margin-bottom: 30px;
         animation: animate 3s infinite;
         color: yellow;
         margin-top: 400px;
         margin-left: 430px;
     }

     .Initial {
         font-size: 30px;
         margin-top: 40%;
     }

     .x-btn{
         bottom: 2%;
         right: 4%;
         font-size: 50px;
     }

     .x-btn:hover{
         font-size: 50px;
     }

     .short-intro{
         width: 90%;
         top: 54%;
         left: 50%;
         transform: translate(-50%,-50%);
     }

    .short-intro h1 {
         margin-top: 7%;
         font-size: 35px;
     }

     .short-intro-text, .short-intro-text2{
         font-size: 30px;
         margin-top: 5%;
     }

     .back-btn2 {
         font-size: 30px;
     }

     .contact-icons{
         margin-top: 20%;
         margin-left: 30%;
         margin-right: 30%;
     }

     .pdf-icon {
         font-size: 60px;
     }

     .pdf-card {
         margin-top: -34px;
     }

     .card-icon-link {
         width: 58px;
         height: 58px;
         border: 2px solid white;
         border-radius: 5px;
     }

     .card-icon{
         font-size: 50px;
     }

     .email {
         font-size: 70px;
     }

     .header{
         height: 230px;
     }

     .logo-name{
         margin-top: 5.5%;
         margin-left: 4%;
         height: 110px;
         width: 460px;
         position: relative;
         justify-content: space-around;
     }

     .logo{
         width: 25%;
         border: 5px solid blueviolet;
         padding: 0.5%;
         border-radius: 50%;
     }

     .name{
         font-size: 35px;
     }

     .pdf{
         margin-top: 7%;
         margin-left: 0;
         margin-right: -20%;
     }

     .pdf:hover .download-cv{
         visibility: hidden;
     }

     .menu{
         margin-top: 5%;
         margin-right: 5%;
         font-size: 60px;
     }

     .menu-position{
         margin-left: -130px;
     }

     .sub-menu{
         font-size: 25px;
         width: 230px;
         border-radius: 2%;
         padding: 5px;
         margin-top: 20px;
     }

     .sub-menu a{
         width: 200px;
         line-height: 200%;
     }

     .menu:hover{
         color: white;
     }
     .menu:hover .sub-menu{
         display: none;
     }

     .slide{
         height: 800px;
     }

     .content{
         width: 500px;
         top: 5%;
         left: 5%;
     }

     .promo-content {
         top: -100px;
     }

     .promo-text {
         max-width: 120em;
     }

     .promo-title {
         display: inline-block;
         padding: .7em 1em;
         font-size: 2.5em;
         margin-left: -5%;
     }

     .promo-lede {
         padding: .7em 1em .8em 2.5em;
         font-size: 2.3em;
         margin-left: 25%;
         margin-bottom: 3%;
         margin-right: -25%;
     }

     .cv-intro{
         padding: 140px 90px 140px 90px;
         height: auto;
     }

     .intro-text{
         font-size: 28px;
         color: #4e4e4e;
         line-height: 180%;
         margin-left: 0;
         margin-right: 0;
         margin-top: -50px;
     }

     .intro-text2{
         font-size: 28px;
         color: #4e4e4e;
         line-height: 180%;
         margin-top: 30px;
         margin-left: 0;
         margin-right: 0;
     }

     .experience{
         height: auto;
         background-color: #4e4e4e;
     }

     .exp-title{
         font-size: 35px;
         padding: 65px;
     }

     .jobs{
         height: auto;
         position: relative;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-around;
         padding: 35px;
         align-items: center;
         font-size: 25px;
         background-color: white;
         margin: 0 auto;
     }

     .jobs h4 {
         font-weight: revert;
         color: #6e6e6e;
     }

     .blk img{
         margin-top: 15%;
         margin-bottom: 13%;
         margin-left: 13%;
         transform: scale(1.3);
     }

     .vf img{
         margin-top: 3%;
         margin-bottom: 15%;
         margin-left: -5%;
         transform: scale(1.5);
     }

     .ice img{
         margin-top: 1%;
         margin-bottom: 15%;
         margin-left: -6%;
         transform: scale(1.5);
     }

     .abbott img{
         margin-bottom: 10%;
         margin-left: -2%;
         transform: scale(1.5);
     }

     .nuskin img{
         margin-top: 8%;
         margin-bottom: 15%;
         margin-left: 10%;
         transform: scale(1.5);
     }

     .blk:hover, .vf:hover, .ice:hover, .abbott:hover, .nuskin:hover{
         border: revert;
         box-shadow: 0 0 15px #908d78;
     }

     .blk-details, .vf-details, .ice-details, .abbott-details, .nuskin-details {
         line-height: 160%;
         font-size: 25px;
         color: #525252;
         font-family: 'Roboto', sans-serif;
         width: 800px;
         height: 1250px;
         box-shadow: 0 0 60px #424137;
         padding: 2%;
     }

     .vf-details{
         height: 820px;
     }

     .ice-details{
         height: 600px;
     }

     .abbott-details{
         height: 1000px;
     }

     .nuskin-details{
         height: 1050px;
     }

     .blk-details h1, .vf-details h1, .ice-details h1, .abbott-details h1, .nuskin-details h1{
         font-size: 30px;
         letter-spacing: 3px;
         line-height: 180%;
     }

     .back-btn3 , .back-btn4, .back-btn5 , .back-btn6, .back-btn7, .back-btn8 {
         transition: opacity 2s, color 0.3s;
         position: absolute;
         bottom: 5%;
         left: 47%;
         font-size: 20px;
         font-weight: bold;
         color: #e9e9e9;
         border: 2px solid #4e4e4e;
         border-radius: 3px;
         cursor: pointer;
         padding: 0.7%;
         background-color: black;
     }

     .education h1{
         font-size: 65px;
         padding: 65px;
     }

     .education h2{
         font-size: 35px;
         margin-left: 70px;
         margin-right: 70px;
         line-height: 150%;
     }

     .education li{
         line-height: 150%;
         margin-left: 50px;
         margin-right: 50px;
         font-size: 30px;
     }

     .tech h1{
         font-size: 65px;
         padding: 65px;
     }

     .tech ul{
         padding: 60px 50px 60px 50px;
     }

     .tech li{
         margin-top: 10px;
         font-size: 30px;
     }

     .communication{
         padding: 100px 0 100px 0;
     }

     .communication h1{
         font-size: 65px;
     }

     .communication li{
         font-size: 27px;
         margin-top: 10px;
         width: 700px;
     }

     .language{
         padding: 90px;
     }

     .language h1{
         font-size: 65px;
     }

     .language ul{
         margin-top: 5px;
     }

     .language li{
         font-size: 30px;
         margin-top: 15px;
     }

     .contact{
         height: 500px;
         padding: 60px;
     }

     .contact-orientation{
         width: 569px;
         display: inline-block;
     }

     .contact h1{
         font-size: 65px;
         margin-top: 5px;
     }

     .phone, .e-mail, .current-loc, .permit, .swiss-number{
         font-size: 30px;
     }

     .permit{
         width: 600px;
     }

     .back-btn:hover, .back-btn2:hover, .back-btn3:hover, .back-btn4:hover, .back-btn5:hover, .back-btn6:hover, .back-btn7:hover, .back-btn8:hover{
         color: revert;
     }

     .back-btn:hover{
         color: blueviolet;
     }

     .back-btn{
         font-size: 350%;
     }

     .bottom-map{
         height: 500px;
         padding: 25px;
     }

     .map-main{
         font-size: 30px;
         margin-top: 40px;
     }

     .map-socialmedia{
         margin-left: 30%;
         margin-right: 30%;
     }
     .card-icon-link2{
         width: 50px;
         height: 50px;
         border: 2px solid white;
         border-radius: 5px;
     }

     .card-icon-link2:hover{
         border: solid white;
     }

     .card-icon2{
         font-size: 40px;
         top: 3.2%;
         left: 3.2%;
     }

     .card-icon2:hover{
         color: white;
     }

     .email2{
         font-size: 60px;
         margin-top: 2%;
     }

     .email2:hover {
         color: white;
     }

     .pdf-icon2{
         font-size: 53px;
     }

     .pdf-icon2:hover{
         color: white;
     }

     @media only screen and (max-width: 600px){

         .short-intro h1 {
             margin-top: 7%;
             font-size: 55px;
         }

         .short-intro-text, .short-intro-text2{
             font-size: 35px;
             margin-top: 5%;
         }

         .back-btn2 {
             font-size: 30px;
         }
     }*/


